# Specify filepatterns you want git to ignore.
teensyCode/.pio/build
teensyCode/lib/ros_lib
teensyCode/platformio.sublime-workspace
teensyCode/platformio.sublime-project
M5Code/lib/ESP8266SAM
M5Code/lib/ESP8266Audio
.DS_Store
.vscode